.people-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(105, 105, 105);
}

.people-object {
  font-size: 18px;
  font-weight: bold;
}

.people-button {
  height: fit-content;
  background-color: rgb(39, 233, 0);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 10px;
  align-self: center;
}

.people-button:hover {
  background-color: rgb(50, 175, 0);
  color: #f2f2f2;
  cursor: pointer;
}
